<!DOCTYPE html>
<html lang="pt-nr">
    <head>
        <title></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="offset-md-4 col-md-4">
                    <h2 class="text-center">Remove data where</h2>
                    <form method="post" action="#">
                        <div class="form-group">
                            <label for="inputname">Name</label>
                             <input id="inputname" class="form-control" id="name" name="name_remove" type="text" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="inputage">Age</label>
                            <input id="inputage" class="form-control" id="age" name="age_remove" type="number" placeholder="Age" min="0">
                        </div>     
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
            
        </div>
        
    </body>

</html>